# This is a basic workflow to help you get started with Actions

name: Jupyter

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  push:
    branches: [ main ]
  pull_request:
    branches: [main]
  workflow_dispatch:
  schedule:
    - cron: '0 */1 * * *'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    name: tox on ${{ matrix.python-version }}
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    env:
      USING_COVERAGE: '3.10,3.11'

    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
          - "3.11"

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python3 -VV
          python3 -m site
          python3 -m pip install --upgrade pip setuptools wheel
          python3 -m pip install --upgrade coverage[toml] tox tox-gh-actions
          python3 -m pip install --upgrade jupyter
          python3 -m pip install --upgrade pytz
          python3 -m pip install --upgrade supabase
          python3 -m pip install --upgrade google-colab
          python3 -m pip install --upgrade os-sys
          python3 -m pip install --upgrade nteract-scrapbook

      - id: python
        name: Python Setup & Packages Installation
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'
          cache: 'pip'
#         cache-dependency-path: "${{ github.action_path }}/requirements.txt" 
#     - run: pip install -r requirements.txt

#       - id: jupyter 
#         name: Jupyter Notebook Execution
#         run: jupyter execute Backup_Project_&_Storage.ipynb
#         shell: bash 

      - uses: yaananth/run-notebook@v2
        env:
          RUNNER: ${{ toJson(runner) }}
          SECRETS: ${{ toJson(secrets) }}
          GITHUB: ${{ toJson(github) }}
        with:
          notebook: "Backup_Project_&_Storage.ipynb"


 # Add new files in folder, commit along with other modified files, push
#       - id: commit
#         name: Commit files
#         run:
#           git config --local user.name actions-user

#           git config --local user.email "actions@github.com"

#           git add *

#           git commit -am "GH ACTION Headlines $(date)"

#           git push origin main

#         env:
#           REPO_KEY: ${{secrets.GITHUB_TOKEN}}

#           username: github-actions
