# This is a basic workflow to help you get started with Actions

# name: Jupyter
name: DB backup

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  push:
    branches: [ main ]
  pull_request:
    branches: [main]
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:   
   run_db_backup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run script file
        run: |
           chmod +x ./backup_database.sh
           ./backup_database.sh
        shell: bash   
      
      - name: Commit results
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add .
          git commit -m "Results from R script" || echo "No changes to commit"
          git push dev || echo "No changes to commit"-